.option-page {
  border-radius: 20px;
  border: 5px solid #16c5ec;
  padding: 50px;
}

.radio {
  position: absolute;
  opacity: 0;
}

.radio-custom-button {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 2px solid #c4c4c4;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 5px;
}

.radio-custom-button::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #4b9eff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.radio :checked + .radio-custom-button::before {
  opacity: 1;
}

.theme-list {
  max-width: 400px;
  border-radius: 20px;
  border: 5px solid #16c5ec;
  flex-direction: column;
  justify-content: space-between;
}

.question-section {
  width: 100%;
  padding: 10px;
}

.question-count {
  margin-bottom: 20px;
}

.question-text {
  margin-bottom: 12px;
}

.answer-section {
}

.answer-default {
  border-radius: 10px;
  padding: 5px;
}

.answer-default:hover {
  background-color: #16c5ec;
}

.answer-correct {
  background-color: #33e833;
  border-radius: 10px;
  padding: 5px;
}

.answer-incorrect {
  background-color: #eb0000;
  border-radius: 10px;
  padding: 5px;
}

button:hover {
  background-color: #10abcd;
}

button:focus {
  outline: none;
}

.score-section {
  font-size: 10px;
  width: auto;
  max-width: 700px;
  height: auto;
  border-radius: 20px;
  border: 5px solid #16c5ec;
  padding: 10px;
}
