.option-page {
  border-radius: 20px;
  border: 5px solid #16c5ec;
  padding: 30px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  opacity: 0;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #c4c4c4;
  border-radius: 100%;
  background: #c4c4c4;
  vertical-align: middle;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 18px;
  height: 18px;
  border: 2px solid #c4c4c4;
  background: #10abcd;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  vertical-align: middle;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.themes {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.theme-list {
  border-radius: 20px;
  border: 5px solid #16c5ec;
  padding: 30px;
  font-size: 18px;
}

.checkboxes {
  max-width: 320px;
  border-radius: 5px;
}

.checkbox-group {
  padding-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

[type="checkbox"] {
  cursor: pointer;
}

.label {
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #ffff;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid black;
  opacity: 80%;
  transform: translateY(-0.3em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  border-radius: 0.15em;
  width: 15px;
  height: 15px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 15px 15px #16c5ec;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.question-section {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  min-height: none;
}

.button-res {
  display: inline-block;
}

.top-section {
  margin: 10px;
  max-width: 600px;
  min-width: 300px;
}

.restart-button {
  width: 99px;
  height: 36px;
  background: #ffffff;
  border: 2px solid #16c5ec;
  font-size: 10px;
  color: black;
  margin: 0;
}

.question-count {
  margin-bottom: 20px;
  font-size: 20px;
  font-style: bold;
  display: inline-block;
  margin-left: 90px;
  margin-right: 90px;
}

.timer {
  color: #16c5ec;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.question-image {
  max-width: 300px;
  max-height: 200px;
  margin: 10px;
  border-radius: 5px;
  border: 5px solid #16c5ec;
  transition: 0.2s;
  background-color: #e8e8e8;
}

.question-image:hover {
  transform: scale(1.9);
}

.question-text {
  margin: 20px;
  font-size: 16px;
  min-width: 350px;
  line-height: 140%;
}

.answer-section {
  list-style-type: none;
  text-align: left;
  max-width: 550px;
  min-width: 300px;
  margin: 16px;
  max-height: 150px;
  overflow-y: scroll;
  font-size: 14px;
}

.answer-section::-webkit-scrollbar {
  width: 8px;
  background-color: #e8e8e8;
  border-radius: 10px;
}

.answer-section::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #16c5ec;
}

.answer-section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.answer-section li {
  margin-bottom: 10px;
  padding: 5px;
  padding-bottom: 14px;
  min-width: 300px;
}

.answer-default {
  border-radius: 10px;
}

.answer-default:hover {
  background-color: #16c5ec;
}

.answer-correct {
  background-color: #33e833;
  border-radius: 10px;
  opacity: 50%;
}

.answer-incorrect {
  background-color: #eb0000;
  border-radius: 10px;
  opacity: 50%;
}

button:hover {
  background-color: #10abcd;
}

button:focus {
  outline: none;
}

.score-section {
  max-width: 700px;
  max-height: 500px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}

.score-section::-webkit-scrollbar {
  width: 8px;
  background-color: #e8e8e8;
  border-radius: 10px;
}

.score-section::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #16c5ec;
}

.score-section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.score-header {
  font-size: 25px;
  display: block;
  padding: 20px;
}

.score-answers {
  max-width: 500px;
  margin: 20px;
  border-bottom: 2px solid #16c5ec;
}

.score-button {
  justify-content: center;
  align-items: center;
  text-align: center;
}
