body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter", serif;
  font-style: normal;
}

.app {
  min-height: 200px;
  height: min-content;
  padding: 20px;
}

button {
  width: 264px;
  height: 76px;
  font-size: 26px;
  color: #ffffff;
  background-color: #16c5ec;
  border-radius: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 24px;
  border: none;
}

.start {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
}

.information {
  line-height: 22px;
  font-size: 18px;
}

.test-name {
  font-family: "Inter", serif;
  font-size: 32px;
}

.option {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ready-window {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 400px;
  max-width: 650px;
  font-size: 20px;
  border: 5px solid #16c5ec;
  border-radius: 50px;
  background-color: #16c5ec;
  color: #ffffff;
  padding: 20px;
}

.ready-button button {
  color: black;
  background-color: #ffffff;
}
